body{
  margin: 0;
  background-color: #E8F6EF;
  text-align: center;
  font-family: 'Charis SIL', serif;
}

h1{
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Fjalla One', sans-serif;
  font-size: 5.625rem;
}

h2{
  color: #66BFBF;
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Lobster', cursive;
}

hr{
  border-style: dotted none none;
  color: #247881;
  width: 5%;
  border-width: 4px;
}




/**************class selector********************/
.top-container {
/*  background-color: #B8DFD8;   */
  padding: 100px;
  position: relative;
}



.top-cloud{
  position: absolute;
  right: 20rem;
  top: 3.125rem;
}

.bottom-cloud{
  position: absolute;
  bottom: 400px;
  left: 300px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #66BFBF);
  background-image: -moz-linear-gradient(top, #11cdd4, #66BFBF);
  background-image: -ms-linear-gradient(top, #11cdd4, #66BFBF);
  background-image: -o-linear-gradient(top, #11cdd4, #66BFBF);
  background-image: linear-gradient(to bottom, #11cdd4, #66BFBF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Fjalla One', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contmes{
  margin: 50px;
}

.footer-link{
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Charis SIL', serif;
  font-size: 1.3rem;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.first-sim{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.second-sim{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container{
  margin: 100px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 20px 0 10px 0;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
